body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container {
  float:left;
  width: 50%;
}

.navbar-list {
  float:left;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  

}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  padding: 10px;
}
li a:visited {
  text-decoration: none; color: black;
}

li a:hover {
  text-decoration: underline;
  color: darkgrey;
}
