*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container{ 
  display: grid;
  grid-template-columns: 33% 33% 33%; 
  margin: 20 30;
}

.logo-container {
  height: 100%;
  margin: 20;
  }


.navbar-list {
  grid-column: 2;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 1em;
  display: block;
  padding: 8px;
  background-color: red;
}

li a {
  text-decoration: none;
}

li a:visited {
  text-decoration: none; color: black;
}

li a:hover {
  text-decoration: underline;
  color: darkgrey;
}
